<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConstructCapture - Data Entry</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        /* Hide the forms initially */
        
        .form-container {
            display: none;
        }
    </style>

</head>
<body>
    <h1>ConstructCapture - Data Entry</h1>

    <p><strong>Welcome to ConstructCapture! Please select the form you want to use.</strong></p>
    <br />

    <!-- Buttons to toggle forms -->
    <button onclick="showForm('materialsForm')">Show Materials Form</button>
    <button onclick="showForm('employeesForm')">Show Employees Form</button>

    <!-- Form for Materials -->
    <div id="materialsForm" class="form-container">
        <h2>Daily Materials Used</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="material">Material Name:</label>
            <input type="text" id="material" name="material" placeholder='Material' required><br>

            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" placeholder="Quantity"><br>

            <label for="amount_per_piece">Amount per Piece:</label>
            <input type="text" name="amount_per_piece" placeholder="Amount per piece"><br>
            <br />

            <label for="material_date">Date:</label>
            <input type="date" name="date" placeholder="Date"><br>
            <br />

            <button type="button" onclick="submitMaterials()">Submit Materials</button>
        </form>
    </div>

    <!-- Form for Employees -->
    <div id="employeesForm" class="form-container">
        <h2>Employee Data</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="employee_name">Employee Name:</label>
            <input type="text" id="employee_name" name="employee_name" required><br>

            <label for="days_worked">Days Worked:</label>
            <input type="number" id="days_worked" name="days_worked" required><br>
            <br />

            <label for="amount_paid_per_day">Amount Paid Per Day:</label>
            <input type="number" id="amount_paid_per_day" name="amount_paid_per_day" required><br>
            <br />

            <label for="employee_date">Date:</label>
            <input type="date" id="employee_date" name="date" required><br>
            <br />

            <button type="button" onclick="submitEmployees()">Submit Employees</button>
        </form>
    </div>

    <div id="response"></div>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
